{% extends 'base.html' %}
{% block content %}
<p>글 제목 : {{post.table_name1}}</p>
<p>글 내용 : {{post.table_name2}}</p>
<br>
글 쓴이 : {{post.user}}
<br>
<a href="/"><button type="button" class="btn btn-outline-danger">돌아가기</button></a>
{%if post.pic%}
<img src="{{post.pic.url}}"> 
{%endif%}

{%if request.user == post.user or request.user.is_staff %}
<a href="{%url 'update' post.id%}"><button type="button" class="btn btn-outline-danger">수정하기</button></a>
<a href="{%url 'delete' post.id%}"><button type="button" class="btn btn-outline-danger">삭제하기</button></a>
{%endif%}
{% endblock %}